<section>
	<%= render "layouts/main" %>
</section>

<section class="about-page">
	<section class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Master Song</h2>
			</div>
		</div>
	</section>
</section>


<footer>
	<%= render "layouts/footer" %>
</footer>