<section>
	<%= render "layouts/main" %>
</section>

<div id="CarouselHome" class="carousel carousel-home slide carousel-fade">
	<ol class="carousel-indicators"></ol>
	<div class="carousel-caption"></div>
	<div class="carousel-inner"></div>
</div>




