<!DOCTYPE html>
<html>

<head>
	<script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>

<section>
	<%= render "layouts/main" %>
</section>

<div id="CarouselHome" class="carousel carousel-home slide carousel-fade">
	<ol class="carousel-indicators">
		<li data-target="#CarouselHome" data-slide-to="0" class="active"></li>
		<li data-target="#CarouselHome" data-slide-to="1"></li>
		<li data-target="#CarouselHome" data-slide-to="2"></li>
	</ol>

	<div class="carousel-caption">
		<h1>柔</h1>
		<h1>
		道 
		</h1>
		<h1>The Gentle
		<br class="visible-md">
		Way
		</h1>
	</div>

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="fill">
				<img class="img-responsive" src="/images/judo.jpg" width="1280">
			</div>
		</div>
		<div class="item">
			<div class="fill">
				<img class="img-responsive" src="/images/deadlift.png" width="1280">
			</div>
		</div>
		<div class="item">	
			<div class="fill">
				<img class="img-responsive" src="/images/deadlift.png" width="1280">
			</div>
		</div>
	</div>
</div>

<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" align="center">
			<h2>Learn and Master Takedowns, Grip Fighting Ground Work and Self Defense with National and World Class Athletes</h2>
			<br />
			<p align="justify"> Our Judo school focuses on training individuals on perfect technical execution to make their takedowns and submissions effortless. We do not overlook technique at our school, we make sure you do it perfectly. We combine technical instruction with sparring sessions which will allow Judokas to practice techniques they have been training on constantly. In addition we make sure our athletes regularly compete in order to harness their experience mental and physical abilities to be able to execute their techniques under pressure. You do not need any experience to join us. Join us and train hard to become a great martial artist!
			</p>
		</div>
	</div>
</section>

<% yield %>

<footer>
	<%= render "layouts/footer" %>
</footer>

<script>
        $(document).ready(function(){
        	$(".CarouselHome").carousel();
            $("#CarouselHome").carousel( { interval: 2000 } );
                          $("#carousel-pause").click(function(){
                $("#CarouselHome").carousel('pause');
            });
                        $("#carousel-play").click(function(){
                $("#CarouselHome").carousel('cycle');
            });
        });
</script>
</body>

</html>

