/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 *= require font-awesome
 *= require bootstrap-social
 /*
[...]
*= require slick
[...]
*/
 */
a {
	color: #777777;
}

 .carousel-caption h2 {
 	font-size: 125px;
 }

 div.carousel {
 	margin-top: 80px;
 }

footer {
	background-color: #F0F0F0;
}

footer {
	color: #2C367D;
}

.footer-links {
	color: #777777;
}

h4 {
	color: #2C367D;
}

i {
	font-family: 'PT Sans', sans-serif;
	color: #777777;
	font-size: 12px;
}

 nav {
 	color: #767686;
 }

 .navbar-brand >
 img {
 	margin-top: 10px;
 }

.navbar-inverse {
	background-color: #767686;
	border-color: #767686;
	height: 80px;
}

.navbar-inverse
.navbar-nav > li > a {
	color: #22231C;
}

.navbar-nav > li {
	font-size: 20px;
	font: black;
	color: #22231C;
	margin-top: 15px;
	margin-right: 35px;
}

p {
	font-family: 'PT Sans', sans-serif;
}

p.copyright {
	color: #AAAAB4;
}

p.footer-text {
	color: #777777;
	font-family: 'PT Sans', sans-serif;
}
