<footer>
	<section class="container">
		<div class="row">
			<div class="col-md-12">
                <p style="padding:10px;"></p>
                <p class="copyright" align=center>© 2016 Houston Judo Academy</p>
              </div>
		</div>
	</section>

</footer>